@font-face {
    font-weight: 400;
    font-family: 'Arsenal';
    font-style: normal;
    src: url('../fonts/arsenal/Arsenal-Regular.ttf');
}

@font-face {
    font-weight: 700;
    font-family: 'Arsenal';
    font-style: normal;
    src: url('../fonts/arsenal/Arsenal-Bold.ttf');
}

@font-face {
    font-weight: 400;
    font-family: 'Arsenal';
    font-style: italic;
    src: url('../fonts/arsenal/Arsenal-Italic.ttf');
}

@font-face {
    font-weight: 700;
    font-family: 'Arsenal';
    font-style: italic;
    src: url('../fonts/arsenal/Arsenal-BoldItalic.ttf');
}
