.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.services__title {
    margin-bottom: 2rem;
}

.service {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 0.5rem;
    padding: 1rem 1.5rem 1rem 1rem;
    background-color: $service-bg;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.service__icon {
    margin-top: 2rem;
    display: block;

    svg {
        height: 64px;
        width: 64px;
        fill: $mig-color;
        padding: 6px;
        border-radius: 35px;
        background-color: $light-color;
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }
}

.service__inner {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.service__title {
    text-align: center;
}

.service__description {
    flex: 1 0 auto;
}

.service__terms {
    flex: 0 0 auto;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.service__terms--link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: $light-color;
    background-color: #444;
    transition-property: color;
    transition-duration: 500ms;

    svg {
        height: 32px;
        width: 32px;
        margin-bottom: -6px;
        fill: $light-color;
        transition-property: fill;
        transition-duration: 500ms;
    }

    &:hover,
    &:focus,
    &:active {
        color: $gold;

        svg {
            fill: $gold;
        }
    }
}
.services__extra {
    margin: 3rem 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.services__extra--link {
    text-decoration: none;
    color: $mig-color;
    transition-property: color;
    transition-duration: 500ms;

    svg {
        height: 24px;
        width: 24px;
        margin-bottom: -5px;
        fill: $mig-color;
        transition-property: fill;
        transition-duration: 500ms;
    }

    &:hover {
        color: $dark-color;
        
        svg {
            fill: $dark-color;
        }
    }
}