{% extends 'layout.twig' %}

{% block header %}
    <h1>{{ pageName }}</h1>
{% endblock %}

{% block content %}
    <h1>Documents</h1>
    <p><a href="./img/asrz.com.ua-2021.pdf">Счёт</a></p>
{% endblock %}
