{% extends 'layout.twig' %}

{% block content %}
<article class="page">
  <div class="page__title">
    <h1>{{ pageName }}</h1>
  </div>

  <p><a href="./doc/asrz.com.ua-2021.pdf">Счёт</a></p>
</article>

  
{% endblock %}
