{% extends 'layout.twig' %}

{% block content %}

<article class="page">
  <div class="page__title">
    <h1>{{ pageName }}</h1>
  </div>

  <section class="page__section">
    <h2 class="page__section--title">Відомості про державну реєстрацію:</h2>
    <ul>
      <li>дата державної реєстрації: 28.11.2003</li>
      <li>дата запису: 21.02.2005</li>
      <li>номер запису: 1 274 120 0000 001605</li>
    </ul>
  </section>

  <section class="page__section">
    <h2 class="page__section--title">Інформація, щодо включення до державного реєстру фінансових установ:</h2>
    <ul>
      <li>дата прийняття та номер рішення про видачу свідоцтва: 03.04.2018 №496</li>
      <li>свідоцтво про реєстрацію фінансової установи:
        <ul>
          <li>реєстраційний номер: 13103747</li>
          <li>серія та номер свідоцтва: ФК №1014</li>
          <li>дата видачі свідоцтва: 03.04.2018</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="page__section">
    <h2 class="page__section--title">Інформація щодо наявності права на надання фінансових послуг:</h2>
    <p>Вид господарської діяльності:</p>
    <ul>
      <li>надання послуг з факторингу (чинна ліцензія)</li>
      <li>надання послуг з фінансового лізінгу (чинна ліцензія)</li>
      <li>надання коштів у позику, в тому числі і на умовах фінансового кредиту (чинна ліцензія)</li>
      <li>надання гарантій та поручительств (анульована ліцензія)</li>
    </ul>
    <p>Номер і дата рішення про видачу ліцензій: 813 від 31.05.2018</p>
    <p>Номер і дата рішення про анулювання ліцензій: 859 від 12.05.2020</p>
  </section>

  <section class="page__section">
    <h2 class="page__section--title">Відомості про склад наглядової ради та виконавчого органу ТОВ «ФК «МІГ ФІНАНС»:</h2>
    <section class="page__subsection">
      <h3 class="page__subsection--title">Склад Наглядової ради</h3>
      <p>Статутом ТОВ «ФК «МІГ ФІНАНС» не передбачено створення Наглядової ради.</p>
    </section>
    <section class="page__subsection">
      <h3 class="page__subsection--title">Склад Виконавчого органу</h3>
      <p>Виконавчим органом ТОВ «ФК «МІГ ФІНАНС» є Директор Дудников Богдан Юрійович.</p>
    </section>
    <section class="page__subsection">
      <p>У ТОВ «ФК «МІГ ФІНАНС» відсутні відокремлені підрозділи.</p>
      <p>Провадження у справі про банкрутство ТОВ «ФК «МІГ ФІНАНС» не порушувалося, процедура санації не застосовувалась.</p>
      <p>Рішення про ліквідацію ТОВ «ФК «МІГ ФІНАНС» не приймалося.</p>
    </section>
  </section>

</article>
  

{% endblock %}
