<div>
<ul>
    <li><a href="{{ full_url_for('home') }}">Главная</a></li>
    <li><a href="{{ full_url_for('services') }}">Услуги</a></li>
    <li><a href="{{ full_url_for('documents') }}">Документы</a></li>
    <li><a href="{{ full_url_for('contacts') }}">Контакты</a></li>
</ul>
</div>
