{% extends 'layout.twig' %}

{% block content %}

<article class="page">
  <div class="page__title">
    <h1>{{ pageName }}</h1>
  </div>

  <h2 class="services__title">ТОВ «ФК «МІГ ФІНАНС» надає клієнтам наступні фінансові послуги:</h2>

  <div class="services">

    <section class="service">
      <div class="service__icon">
        <svg>
          <use xlink:href="/img/symbol/sprite.svg#factoring_icon"></use>
        </svg> 
      </div>
      <div class="service__inner">
        <h3 class="service__title">Надання послуг з факторингу</h3>
        <p class="service__description">Завдання факторингу полягає в забезпечені ефективної системи взаємовідносин покупця та постачальника товарів. Скориставшись послугою факторингу постачальник має змогу надати конкурентні відстрочення платежу своїм клієнтам, не відчуваючи при ньому дефіциту в обігових коштах. Це можливо завдяки достроковому фінансуванню компанією – фактором поставок товарів, з наданням відстрочки платежу, у зручному для постачальника режимі.</p>
        <p class="service__terms"><a href="./doc/terms/umovy-factoring-210310.pdf" class="service__terms--link" target="_blank">
          <svg>
            <use xlink:href="/img/symbol/sprite.svg#file_download"></use>
          </svg> 
          базові умови</a></p>
      </div>
    </section>

    <section class="service">
      <div class="service__icon">
        <svg>
          <use xlink:href="/img/symbol/sprite.svg#lease_icon"></use>
        </svg> 
      </div>
      <div class="service__inner">
        <h3 class="service__title">Надання послуг з фінансового лізінгу</h3>
        <p class="service__description">Компанія пропонує послуги з фінансового лізингу для юридичних та фізичних осіб на вигідних та прозорих умовах.
          Суть операції - придбання компанією на замовлення клієнта майна (нерухомість, транспорт, обладнання), з подальшою передачею у користування на визначений строк, із наступним переходом права власності до клієнта, після повної сплати лізингових платежів.</p>
        <p class="service__terms"><a href="./doc/terms/umovy-lease-210310.pdf" class="service__terms--link" target="_blank">
          <svg>
            <use xlink:href="/img/symbol/sprite.svg#file_download"></use>
          </svg> 
          базові умови</a></p>
      </div>
    </section>

    <section class="service">
      <div class="service__icon">
        <svg>
          <use xlink:href="/img/symbol/sprite.svg#credit_icon"></use>
        </svg> 
      </div>
      <div class="service__inner">
        <h3 class="service__title">Надання коштів у позику, в тому числі і на умовах фінансового кредиту</h3>
        <p class="service__description">Основним напрямком діяльності компанії є кредитування клієнтів — юридичних осіб та фізичних осіб-підприємців на цілі, що пов'язані з веденням господарської діяльності.</p>
        <p class="service__terms"><a href="./doc/terms/umovy-kredit-210318.pdf" class="service__terms--link" target="_blank">
          <svg>
            <use xlink:href="/img/symbol/sprite.svg#file_download"></use>
          </svg> 
          базові умови</a></p>
      </div>
    </section>

    <section class="service">
      <div class="service__icon">
        <svg>
          <use xlink:href="/img/symbol/sprite.svg#handshake-regular"></use>
        </svg> 
      </div>
      <div class="service__inner">
        <h3 class="service__title">Надання гарантій та поручительств</h3>
        <p class="service__description">Надання гарантій та поручительств не надається, Розпорядження від 12.05.20р.№859</p>
      </div>
    </section>
  </div>

  <p class="services__extra">Додаткова інформація, на виконання вимог частини 1,2 ст.12 Закону України «Про фінансові послуги та державне регулювання ринку фінансових послуг».
    (<a class="services__extra--link" href="./doc/services/dodatkova_informatsiia_210310.pdf">
      <svg>
        <use xlink:href="/img/symbol/sprite.svg#file_download"></use>
      </svg> 
      заватажити pdf</a> )</p>
  
</article>

{% endblock %}
