{% extends 'layout.twig' %}

{% block content %}

<article class="page">
  <div class="page__title">
    <h1>{{ pageName }}</h1>
  </div>

  <h3 class="services__title">ТОВ «ФК «МІГ ФІНАНС» надає клієнтам наступні фінансові послуги:</h3>
  <ul class="services">
    <li class="services__item">надання послуг з факторингу <a href="./documents/terms/umovy-factoring-210310.pdf">(базові умови)</a></li>
    <li>надання послуг з фінансового лізінгу <a href="./documents/terms/umovy-lease-210310.pdf">(базові умови)</a></li>
    <li>надання коштів у позику, в тому числі і на умовах фінансового кредиту <a href="./documents/terms/umovy-kredit-210310.pdf">(базові умови)</a></li>
    <li>надання гарантій та поручительств (не надається, Розпорядження від 12.05.20р.№859)</li>
  </ul>
  
  <p class="services__extra">Додаткова інформація, на виконання вимог частини 1,2 ст.12 Закону України «Про фінансові послуги та державне регулювання ринку фінансових послуг».
    (<a class="services__extra--link" href="./documents/services/dodatkova_informatsiia_210310.pdf">заватажити pdf</a>)</p>

</article>

{% endblock %}
